*{
	margin:0;
	margin-bottom: -5px;
}

body{
	overflow-x: hidden;
	background: url(https://images.unsplash.com/photo-1598364804124-48256e5e1ad7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60);
	background-size: 100%;
}

.bodys{
	position: absolute;
	margin-top: 0.5%;
	margin-left: 2%;
	background-color: #ddd4cc;
	width: 95%;
	height: 200%;
}